@page "/contactinformation"
@using PatiMar.Shared

<div class="contact-information-page">
	<div class="contact-information-title">
		<h1>Contact</h1>
	</div>

	<div class="contact-information-section">
		<div class="contact-information-item">
			<h3>Informatii de contact</h3>
			<div>
				<ul>
					<li class="py-2"><a class="btn btn-danger" href=""><span class="oi oi-phone px-2 py-2"></span>APELEAZĂ ACUM</a></li>
					<li>0749983200</li>
					<li>suport@patimar.ro</li>
					<li><a href="">Instagram</a></li>
					<li><a href="https://www.facebook.com/PatiMarBeclean">Facebook</a></li>
				</ul>
			</div>
		</div>
		<div class="contact-information-item">
			<h3>Adresa</h3>
			<div>
				<ul>
					<li>14 Strada Liviu Rebreanu</li>
					<li>Beclean 425100</li>
					<li>România</li>
				</ul>
			</div>
		</div>
		<div class="contact-information-item">
			<h3>Program de lucru</h3>
			<div>
				<table>
					<tbody>
						<tr>
							<th>Luni:</th>
							<td class="px-4">08:00-20:00</td>
						</tr>
						<tr>
							<th>Marți:</th>
							<td class="px-4">08:00-20:00</td>
						</tr>
						<tr>
							<th>Miercuri:</th>
							<td class="px-4">08:00-20:00</td>
						</tr>
						<tr>
							<th>Joi:</th>
							<td class="px-4">08:00-20:00</td>
						</tr>
						<tr>
							<th>Vineri:</th>
							<td class="px-4">08:00-20:00</td>
						</tr>
						<tr>
							<th>Sâmbătă:</th>
							<td class="px-4">08:00-20:00</td>
						</tr>
						<tr>
							<th>Duminică:</th>
							<td class="px-4">08:00-20:00</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>

@* <div id="map"></div> *@