@page "/"

<style>
	.welcome {
		background-image: url("./resources/vitalii-chernopyskyi-Oxb84ENcFfU-unsplash.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

		.welcome h1 {
			color: white;
		}

</style>

@*<img style="width: 100%; height: auto; " src=""/>*@
<div class="welcome" style=" height: 94vh;">
	<div class="text-center">
		@*<h1>Bine ai venit!</h1>
		<h2>PatiMar livreaza Pizza la domiciliu.</h2>*@
	</div>
</div>
