@page "/"

<div class="welcome">
	<div class="text-center introduction-section">
		<h5>PatiMar oferă pizza de mai multe sortimente, produse de patiserie și băuturi. Fiecare produs PatiMar este gătit cu drag!</h5>
		<a class="btn btn-danger" href=""><span class="oi oi-phone px-2 py-2"></span>APELEAZĂ ACUM</a>
	</div>
	<div class="featured-section">
		<div class="featured-item">
			<h2 class="px-3">PIZZA <span class="red">1+1 GRATIS</span></h2>
			<a class="px -3 btn btn-warning btn-lg">COMANDĂ ACUM</a>
		</div>
		<div class="featured-item">
			<div class="container">
				<div class="image-stack">
					<div class="image-stack__item image-stack__item--top">
						<img width="521" src="./resources/food-photographer-david-fedulov-Xt84tIHbjRY-unsplash.jpg" />
					</div>
					<div class="image-stack__item image-stack__item--bottom">
						<img width="645" src="./resources/sarang-pande-msdTDnUxtEA-unsplash.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
