@page "/menu"

<section class="menu">
	<div class="menu-title">
		<hr class="menu-border" />
		<h1>Meniu</h1>
	</div>
	<div class="pizza-section">
		<article>
			<h3 class="pizza-title">Pizza</h3>
			<ul class="pizza-list">
				<li class="pizza-item">
					<h4 class="pizza-item-title">Margherita</h4>
					<div class="pizza-item-price">19,00 RON</div>
					<div>gramaj</div>
					<div>sos de roșii, mozzarella, busuioc</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Prosciutto e Funghi</h4>
					<div class="pizza-item-price">19,00 RON</div>
					<div>gramaj</div>
					<div>sos de roșii, mozzarella, prosciutto cotto, ciuperci</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Quattro Stagioni</h4>
					<div>19,00 RON</div>
					<div>gramaj</div>
					<div>sos de roșii, mozzarella, prosciutto cotto, salam picant, salam, ciuperci</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Capricciosa</h4>
					<div class="pizza-item-price">19,00 RON</div>
					<div>gramaj</div>
					<div>
						sos de roșii, oregano, șuncă presată, ciuperci proaspete, ardei gras roșu, măsline negre, mozzarella,
					</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Quattro Formaggi</h4>
					<div class="pizza-item-price">19,00 RON</div>
					<div>gramaj</div>
					<div>sos de roșii, mozzarella, parmezan, gorgonzola</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Vegetariana</h4>
					<div class="pizza-item-price">19,00 RON</div>
					<div>gramaj</div>
					<div>sos de roșii, mozzarella, ciuperci, ardei, roșii, măsline, porumb</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Diavola</h4>
					<div class="pizza-item-price">19,00 RON</div>
					<div>gramaj</div>
					<div>sos de roșii, mozzarella, salam picant</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Al Pollo</h4>
					<div class="pizza-item-price">19,00 RON</div>
					<div>gramaj</div>
					<div>sos de roșii, mozzarella, piept de pui, ciuperci, roșii cherry, pătrunjel</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">PatiMar</h4>
					<div class="pizza-item-price">19,00 RON</div>
					<div>gramaj</div>
					<div>sos de roșii, mozzarella, ? , ?</div>
				</li>
			</ul>
		</article>
	</div>
	<div class="pizza-section">
		<article>
			<h3 class="pizza-title">Produse de Patiserie</h3>
			<ul class="pizza-list">
				<li class="pizza-item">
					<h4 class="pizza-item-title">Gogosi</h4>
					<div class="pizza-item-price">10,00 RON / 5 lei</div>
					<div>Mare / Mica</div>
					<div>Sirop: Ciocolata, Vanilie, Fructe de Padure</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Vafa</h4>
					<div class="pizza-item-price">6,00 RON</div>
					<div>gramaj</div>
					<div>Sirop: Ciocolata, Vanilie, Fructe de Padure</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Cozonaci</h4>
					<div>12,00 RON</div>
					<div>gramaj</div>
					<div>Nuca / Mac / Rahat</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Rulou</h4>
					<div class="pizza-item-price">4,00 RON</div>
					<div>gramaj</div>
					<div>Sunca si Cascaval / Crenvurști / Carnacior Picant</div>
				</li>
			</ul>
		</article>
	</div>
	<div class="pizza-section">
		<article>
			<h3 class="pizza-title">Altele</h3>
			<ul class="pizza-list">
				<li class="pizza-item">
					<h4 class="pizza-item-title">Pizza Felie</h4>
					<div class="pizza-item-price">6,00 RON</div>
					<div>gramaj</div>
					<div>?</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Sandwich cu Snitel de Pui</h4>
					<div class="pizza-item-price">10,00 RON</div>
					<div>gramaj</div>
					<div>?</div>
				</li>
			</ul>
		</article>
	</div>

</section>

@code {

}
