@page "/menu"

<section class="menu">
	<div class="menu-title">
		<h1>Meniu</h1>
	</div>
	<div class="pizza-section">
		<article>
			<h3 class="pizza-title">Pizza</h3>
			<ul class="pizza-list">
				<li class="pizza-item">
					<h4 class="pizza-item-title">PatiMar</h4>
					<div class="pizza-item-price">18,00 RON</div>
					<div>550g</div>
					<div>50g sos de roșii, 120g mozzarella, 60g șuncă, 30g salam, 20g cârnați cabanoși, 15g ciuperci, 15g ardei, 15g măsline, 15g porumb</div>
					<div class="font-italic py-1">Promoție: <span class="yellow">1+1 la 27,00 RON</span></div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Canibale</h4>
					<div class="pizza-item-price">18,00 RON</div>
					<div>550g</div>
					<div>50g sos de roșii, 120g mozzarella, 60g șuncă, 50g salam, 50g cârnați cabanoși, 50g bacon</div>
					<div class="font-italic py-1">Promoție: <span class="yellow">1+1 la 27,00 RON</span></div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Safari</h4>
					<div class="pizza-item-price">18,00 RON</div>
					<div>550g</div>
					<div>50g sos de roșii, 120g mozzarella, 120g piept de pui, 30g ciuperci, 20g ardei gras roșu, 50g smântână</div>
					<div class="font-italic py-1">Promoție: <span class="yellow">1+1 la 27,00 RON</span></div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Diavola</h4>
					<div>18,00 RON</div>
					<div>490g</div>
					<div>50g sos de roșii, 120g mozzarella, 60g salam picant, 60g șuncă, 5g ardei iute, 10g ardei gras roșu, 10g măsline</div>
					<div class="font-italic py-1">Promoție: <span class="yellow">1+1 la 27,00 RON</span></div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Salame</h4>
					<div class="pizza-item-price">16,00 RON</div>
					<div>500g</div>
					<div>50g sos de roșii, 120g mozzarella, 100g salam, 15g măsline</div>
					<div class="font-italic py-1">Promoție: <span class="yellow">1+1 la 24,00 RON</span></div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Vegetariană</h4>
					<div class="pizza-item-price">16,00 RON</div>
					<div>500g</div>
					<div>50g sos de roșii, 150g mozzarella, 20g ciuperci, 10g ceapă, 20g măsline, 10g ardei gras roșu, 20g porumb</div>
					<div class="font-italic py-1">Promoție: <span class="yellow">1+1 la 24,00 RON</span></div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Pizza pentru Copii</h4>
					<div class="pizza-item-price">15,00 RON</div>
					<div>500g</div>
					<div>50g sos de roșii, 120g mozzarella, 120g piept de pui, 20g porumb</div>
					<div class="font-italic py-1">Promoție: <span class="yellow">1+1 la 23,00 RON</span></div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Margherita</h4>
					<div class="pizza-item-price">15,00 RON</div>
					<div>450g</div>
					<div>50g sos de roșii, 120g mozzarella</div>
					<div class="font-italic py-1">Promoție: <span class="yellow">1+1 la 20,00 RON</span></div>
				</li>
			</ul>
		</article>
	</div>
	<div class="pizza-section">
		<article>
			<h3 class="pizza-title">Produse de Patiserie</h3>
			<ul class="pizza-list">
				<li class="pizza-item">
					<h4 class="pizza-item-title">Gogoși Inelușe</h4>
					<div class="pizza-item-price">10,00 RON / 5,00 RON</div>
					<div>Porție Mare 200g/ Porție Mică 100g</div>
					<div>Topping: Ciocolată, Vanilie, Fructe de Pădure</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Vafă</h4>
					<div class="pizza-item-price">6,00 RON</div>
					<div>150g</div>
					<div>Topping: Ciocolată, Vanilie, Fructe de Pădure</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Croissant</h4>
					<div class="pizza-item-price">3,50 RON</div>
					<div>100g</div>
					<div>Ciocolată / Vanilie</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Ștrudel</h4>
					<div class="pizza-item-price">3,50 RON</div>
					<div>100g</div>
					<div>Vișine</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Cozonaci</h4>
					<div class="pizza-item-price">12,00 RON</div>
					<div>50g</div>
					<div>Nucă / Mac / Rahat</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Rulou</h4>
					<div class="pizza-item-price">4,00 RON</div>
					<div>110G</div>
					<div>Șuncă și Cașcaval / Crenvurști / Cârnăcior Picant</div>
				</li>
			</ul>
		</article>
	</div>
	<div class="pizza-section">
		<article>
			<h3 class="pizza-title">Altele</h3>
			<ul class="pizza-list">
				<li class="pizza-item">
					<h4 class="pizza-item-title">Pizza Felie</h4>
					<div class="pizza-item-price">6,00 RON</div>
					<div>150g</div>
					<div>sos de roșii, mozzarella, șuncă, salam, cârnați cabanoși, ciuperci, ardei, măsline, porumb</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Sandwich cu Șnițel de Pui</h4>
					<div class="pizza-item-price">10,00 RON</div>
					<div>285g</div>
					<div>100g Chiflă, 20g Cartofi, 85g Șnițel, 20g Cașcaval, 20g Roșie, 20g Castravete, 20g Salată Verde</div>
				</li>
			</ul>
		</article>
	</div>
	<div class="pizza-section">
		<article>
			<h3 class="pizza-title">Băuturi</h3>
			<ul class="pizza-list">
				<li class="pizza-item">
					<h4 class="pizza-item-title">Coca-Cola</h4>
					<div class="pizza-item-price">4,00 RON</div>
					<div>500ml</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Fanta</h4>
					<div class="pizza-item-price">4,00 RON</div>
					<div>500ml</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Sprite</h4>
					<div class="pizza-item-price">4,00 RON</div>
					<div>500ml</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Apă plată</h4>
					<div class="pizza-item-price">4,00 RON</div>
					<div>500ml</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Apă minerală</h4>
					<div class="pizza-item-price">4,00 RON</div>
					<div>500ml</div>
				</li>
				<li class="pizza-item">
					<h4 class="pizza-item-title">Fuzetea</h4>
					<div class="pizza-item-price">4,00 RON</div>
					<div>500ml</div>
				</li>
			</ul>
		</article>
	</div>


</section>

@code {

}
