@page "/offers"

<div class="offers">
	<div class="menu-title">
		<h1>Oferte</h1>
	</div>
	<div class="offers-section">
		<div class="offers-item">
			<h2 class="px-3">PIZZA <span class="red">1+1 GRATIS</span></h2>
			<h3 class="px-3">Comandă orice pizza de 40cm și primești <span class="yellow">gratis</span> o pizza de 32cm.</h3>
			<a class="px -3 btn btn-warning btn-lg">COMANDĂ ACUM</a>
		</div>
	</div>
</div>
