@page "/offers"

<div class="offers">
	<div class="menu-title">
		<h1>Oferte</h1>
	</div>
	<div class="offers-section">
		<article>
			<ul class="offers-list">
				<li class="offers-item px-2 py-4 shadow-lg">
					<h2 class="px-3">PIZZA <span class="red">1+1 LA DOAR 27 LEI</span></h2>
					<h4 class="px-3">La comandarea oricăror două pizza PatiMar, Canibale, Safari sau Diavola, plătești doar <span class="yellow">27 Lei</span>.</h4>
					<div class="mt-3">
						<a href="tel:+40746943069" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});" class="ml-3 btn btn-warning btn-lg call-button">
							<span class="oi oi-phone pr-2"></span>COMANDĂ ACUM
						</a>
						<a href="https://www.instagram.com/pop_teodora/" class="btn btn-danger btn-lg px-2 py-2"><span class="oi oi-envelope-closed"></span></a>
					</div>
				</li>
				<li class="offers-item px-2 py-4 shadow-lg">
					<h2 class="px-3">PIZZA <span class="red">1+1 LA DOAR 24 LEI</span></h2>
					<h4 class="px-3">La comandarea oricăror două pizza Salame sau Vegetariană, plătești doar <span class="yellow">24 Lei</span>.</h4>
					<div class="mt-3">
						<a href="tel:+40746943069" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});" class="ml-3 btn btn-warning btn-lg call-button">
							<span class="oi oi-phone pr-2"></span>COMANDĂ ACUM
						</a>
						<a href="https://www.instagram.com/pop_teodora/" class="btn btn-danger btn-lg px-2 py-2"><span class="oi oi-envelope-closed"></span></a>
					</div>
				</li>
				<li class="offers-item px-2 py-4 shadow-lg">
					<h2 class="px-3">PIZZA <span class="red">1+1 LA DOAR 23 LEI</span></h2>
					<h4 class="px-3">La comandarea oricăror două pizza pentru Copii, plătești doar <span class="yellow">23 Lei</span>.</h4>
					<div class="mt-3">
						<a href="tel:+40746943069" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});" class="ml-3 btn btn-warning btn-lg call-button">
							<span class="oi oi-phone pr-2"></span>COMANDĂ ACUM
						</a>
						<a href="https://www.instagram.com/pop_teodora/" class="btn btn-danger btn-lg px-2 py-2"><span class="oi oi-envelope-closed"></span></a>
					</div>
				</li>
				<li class="offers-item px-2 py-4 shadow-lg">
					<h2 class="px-3">PIZZA <span class="red">1+1 LA DOAR 20 LEI</span></h2>
					<h4 class="px-3">La comandarea oricăror două pizza Margherita, plătești doar <span class="yellow">20 Lei</span>.</h4>
					<div class="mt-3">
						<a href="tel:+40746943069" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});" class="ml-3 btn btn-warning btn-lg call-button">
							<span class="oi oi-phone pr-2"></span>COMANDĂ ACUM
						</a>
						<a href="https://www.instagram.com/pop_teodora/" class="btn btn-danger btn-lg px-2 py-2"><span class="oi oi-envelope-closed"></span></a>
					</div>
				</li>
			</ul>
		</article>
	</div>
</div>
