@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <p class="important-announcement ml-md-auto">Livram pizza la domiciliu!</p>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto"><span class="oi oi-phone px-3"></span>Apeleaza Acum</a>
    </div>

    <div class="content">
        @Body
    </div>
</div>
