@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <p class="important-announcement ml-md-auto py-1 yellow">Livrăm pizza la domiciliu!</p>
		<a href="tel:+40749983200" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});" class="ml-md-auto btn btn-warning navbar-button call-button"><span class="oi oi-phone px-1"></span>APELEAZĂ ACUM</a>
    </div>

    <div class="content">
        @Body
    </div>
</div>
