<div style="height: 110px;" class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img height="90px"; style="border-radius: 25px;" src="./resources/sigla.png"/></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-heart" aria-hidden="true"></span> Bun venit!
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="menu">
				<span class="oi oi-script" aria-hidden="true"></span> Meniu
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="offers">
				<span class="oi oi-bolt" aria-hidden="true"></span> Oferte
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="contactinformation">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Informații de contact
			</NavLink>
		</li>
		<li class="nav-item px-3 mobile-buttons">
			<a href="tel:+40749983200" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});" id="mobile-call-button" class="ml-md-auto btn btn-warning navbar-button call-button shadow-lg mb-2"><span class="oi oi-phone px-1"></span>APELEAZĂ ACUM</a>
			<a href="https://www.instagram.com/pop_teodora/" class="btn btn-danger px-2 shadow-lg"><span class="oi oi-envelope-closed pr-2"></span>Instagram</a>
		</li>
	</ul>
	<div class="m-3 px-3 trademark">
		© 2020 Maria Pop
	</div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
